<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059579570068-qulavork5bnaccm2m7hsrefikk9glt7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059579570068-qulavork5bnaccm2m7hsrefikk9glt7c</string>
	<key>API_KEY</key>
	<string>AIzaSyCWT8aB8dsOhuNbu4qZQRcUP0MUewkN5tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1059579570068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Ashleyrennee.TalkToMe</string>
	<key>PROJECT_ID</key>
	<string>talktome-b1ac9</string>
	<key>STORAGE_BUCKET</key>
	<string>talktome-b1ac9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059579570068:ios:cda075347a0c6be1781181</string>
</dict>
</plist>